fastapi
uvicorn
chromadb
sentence-transformers
requests
pydantic-settings
langchain
langchain-core
langchain-community
langchain-chroma
langchain-ollama
langchain-text-splitters
pypdf
jinja2
python-multipart
markdown
beautifulsoup4
